{% extends "base.html" %}

{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
  Detail
{% endblock title %}

{% block custom_import %}
<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock custom_import %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<div class="container">

  <br/>
	<h4>Detail</h4>
  <br/><br/><br/>

  <div class="row">
    <label for="number"class="col-1"><b>Number</b></label>
    <div class="col-2">
      <span id="number">{{ user.id }}</span>
    </div>
  </div>

  <div class="row">
    <label for="username"class="col-1"><b>Username</b></label>
    <div class="col-2">
      <span id="username"">{{ user.username }}</span>
    </div>
  </div>

  <div class="row">
    <label for="email"class="col-1"><b>Email</b></label>
    <div class="col-2">
      <span id="email">{{ user.email }}</span>
    </div>
  </div>

  <div class="row">
    <label for="area"class="col-1"><b>Area</b></label>
    <div class="col-2">
      <span id="area">{{ user.userprofile.area }}</span>
    </div>
  </div>

  <div class="row">
    <label for="station"class="col-1"><b>Station</b></label>
    <div class="col-2">
      <span id="station">{{ user.userprofile.station }}</span>
    </div>
  </div>


</div>

{% endblock content %}
