{% extends "base.html" %}

{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    Share Library
{% endblock title %}

{% block custom_import %}
	<link rel="stylesheet" href="{% static 'css/common.css' %}">
{% endblock custom_import%}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<div class="container">
	<br/>
	<h4>Square</h4>
  <br/>

  <a href="#"><button type="button" class="btn btn-sm btn-outline-info" style="user-select: auto;">文学</button></a>
  <a href="#"><button type="button" class="btn btn-sm btn-outline-info" style="user-select: auto;">技术</button></a>
  <a href="#"><button type="button" class="btn btn-sm btn-outline-info" style="user-select: auto;">经济</button></a>
  <a href="#"><button type="button" class="btn btn-sm btn-outline-info" style="user-select: auto;">历史</button></a>
  <a href="#"><button type="button" class="btn btn-sm btn-outline-info" style="user-select: auto;">哲学</button></a>

  <br/>

  <br/>

  <div class="book">
    <div>
      <img width="130px" src="https://img9.doubanio.com/view/subject/s/public/s6586365.jpg"/>
    </div>
    <div class="title">
      <span>暗时间</span>
    </div>
    <div class="rating-star">
      <span style="color: var(--douban_yellow);">
        <i class="fa fa-star" aria-hidden="true"></i>
      </span>
      <span style="color: var(--douban_yellow);">
        <i class="fa fa-star" aria-hidden="true"></i>
      </span>
      <span style="color: var(--douban_yellow);">
        <i class="fa fa-star" aria-hidden="true"></i>
      </span>
      <span style="color: var(--douban_yellow);">
        <i class="fa fa-star" aria-hidden="true"></i>
      </span>
      <span style="color: var(--douban_yellow);">
        <i class="far fa-star" aria-hidden="true"></i>
      </span>
      <span>&nbsp8.4</span>
    </div>
  </div>

  <div class="book">
    <div>
      <img width="130px" src="https://img9.doubanio.com/view/subject/s/public/s1081291.jpg"/>
    </div>
    <div class="title">
      <span>小狗钱钱:引导孩子正确认识财富、创造财富的“金钱童话"</span>
    </div>
    <div class="rating-star">
      <span style="color: var(--douban_yellow);">
        <i class="fa fa-star" aria-hidden="true"></i>
      </span>
      <span style="color: var(--douban_yellow);">
        <i class="fa fa-star" aria-hidden="true"></i>
      </span>
      <span style="color: var(--douban_yellow);">
        <i class="fa fa-star" aria-hidden="true"></i>
      </span>
      <span style="color: var(--douban_yellow);">
        <i class="fa fa-star" aria-hidden="true"></i>
      </span>
      <span style="color: var(--douban_yellow);">
        <i class="fa fa-star-half-alt" aria-hidden="true"></i>
      </span>
      <span>&nbsp8.7</span>
    </div>
  </div>




</div>


{% endblock content %}
