{% extends "base.html" %}

{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
  Home
{% endblock title %}

{% block custom_import %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock custom_import %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<form action="{% url 'login' %}" method="post" class="form-signin">
{% csrf_token %}
  <img class="mb-4" src="{% static 'img/logo.png' %}" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Share Library</h1>
  <label for="inputUsername" class="sr-only">Email</label>
  <input type="text" id="inputUsername" class="form-control" placeholder="username" name="username" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="password" name="password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">login</button>
</form>

{% endblock content %}
