{% extends "base.html" %}

{% load static %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
  Profile
{% endblock title %}

{% block custom_import %}
<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock custom_import %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<div class="container">

  <br/>
	<h4>Profile</h4>
  <br/><br/><br/>

  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <label for="number"class="col-6"><b>Number</b></label>
        <div class="col-6">
          <span id="number">{{ user.id }}</span>
        </div>
      </div>

      <div class="row">
        <label for="username"class="col-6"><b>Username</b></label>
        <div class="col-6">
          <span id="username"">{{ user.username }}</span>
        </div>
      </div>

      <div class="row">
        <label for="email"class="col-6"><b>Email</b></label>
        <div class="col-6">
          <span id="email">{{ user.email }}</span>
        </div>
      </div>

      <div class="row">
        <label for="area"class="col-6"><b>Area</b></label>
        <div class="col-6">
          <span id="area">{{ user.userprofile.area }}</span>
        </div>
      </div>

      <div class="row">
        <label for="station"class="col-6"><b>Station</b></label>
        <div class="col-6">
          <span id="station">{{ user.userprofile.station }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      {% for book in books %}
      <div class="book">
        <div>
          <a href="{% url 'book' book.isbn13 %}">
            <img width="130px" src="{{ book.douban_small_image_url }}" referrerpolicy ="never"/>
          </a>
        </div>
        <div class="title">
          <span>{{ book.title }}</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


</div>

{% endblock content %}
